{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/style_respiracion.css' %}"> 
{% endblock extra_styles %}

{% block content %}
<div class="content" >
    <!-- Asegúrate de tener la etiqueta `{% load static %}` en la parte superior si estás usando Django -->
    
    <h2>Respiracion</h2>
    
    {% for instruccion in instrucciones %}
        <h3>{{instruccion.nombre}}</h3>
        <p>{{instruccion.instrucciones}}</p>
        <video controls>
            <source src="{{instruccion.video.url}}" type="video/mp4">
        </video>
    {% endfor %}

    <p class="destacado">Lo haces genial, sigue así</p>

</div>

{% endblock content %}