{% extends "base.html" %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/articulacion_seleccion.css' %}">  
{% endblock extra_styles %}

{% block content %}
<h2>Articulacion seleccionar</h2>
<h3>Vamos a trabajar con la letra: {{letra}}</h3>
<p>Relacione el sonido con la silaba<br>Ahora repitelo</p>
{% for instruccion in instrucciones  %}
<ul>
    <li>
        <p>{{letra}}a</p>
        <audio controls>
            <source src="{{instruccion.audio_a.url}}" type="audio/mp3" >
        </audio>
    </li>
    <li>
        <p>{{letra}}e</p>
        <audio controls>
            <source src="{{ instruccion.audio_e.url }}" type="audio/mp3" >
            Tu navegador no soporta el elemento de audio.
        </audio>
    </li>
    <li>
        <p>{{letra}}i</p>
        <audio controls>
            <source src="{{ instruccion.audio_i.url }}" type="audio/mp3" >
            Tu navegador no soporta el elemento de audio.
        </audio>
    </li>
    <li>
        <p>{{letra}}o</p>
        <audio controls>
            <source src="{{ instruccion.audio_o.url }}" type="audio/mp3" >
            Tu navegador no soporta el elemento de audio.
        </audio>
    </li>
    <li>
        <p>{{letra}}u</p>
        <audio controls>
            <source src="{{ instruccion.audio_u.url }}" type="audio/mp3" >
            Tu navegador no soporta el elemento de audio.
        </audio>
    </li>
</ul>    
{% endfor %}
{% endblock content %}