{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/style_art_seleccion.css' %}">  
{% endblock extra_styles %}

{% block content %}
<div class="content" >
    <h2>Articulacion seleccionar</h2>
    <p> Vamos a trabajar con la </p>
    <h2>Letra: {{letra}}</h2>
    <p>Relacione el sonido con la silaba y repitelo</p>
    <form method="post" action="{% url 'articulacion_seleccion' letra %}">
        {% csrf_token %}
        <ul>
            {% for instruccion in instrucciones%}
                <li>
                    <div class= "audio_container">
                        <audio id="audio1" src="{{instruccion.audio}}"></audio>
                        <button type="button" class="audio-button" onclick="togglePlay('audio1', this)">Reproducir</button>
                    </div>
                    {% for silaba in silabas %}
                    <label class="radio-label">
                        <input type="radio" name="respuesta_{{ letra }}{{ instruccion.respuesta }}" value="{{ silaba }}">
                        <span class="custom-radio"></span>
                        <span>{{ silaba }}</span>
                    </label>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
        <button type="submit" id="button_sender">Enviar respuestas</button>
    </form>
</div>

<script>
    function togglePlay(audioId, button) {
        var audio = document.getElementById(audioId);
        if (audio.paused) {
            audio.play();
            button.textContent = 'Pausar'; // Cambia el texto del botón a "Pausar"
        } else {
            audio.pause();
            button.textContent = 'Reproducir'; // Cambia el texto del botón a "Reproducir"
        }
    }
    </script>

{% endblock content %}

