{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/style_art_completar.css' %}">  
{% endblock extra_styles %}

{% block content %}

<div class="content">
    <h2>Articulacion completar</h2>
    <p> Vamos a trabajar con la </p>
    <h3>Letra: {{letra}}</h3>
    <p>Completa la palabra con la sílaba que falta</p>
    <ul>
    {% for instruccion in instrucciones %}
    <li>
        <img src="{{ instruccion.imagen.url }}" alt="imagen">
        <p>{{ instruccion.texto_incompleto }} </p>
        <button class="mic-button">
            <img src="{% static 'images/mic_abierto.png' %}" alt="Micrófono">
        </button>
    </li>
    {%endfor%}
    </ul>   
</div>


{% endblock content %}