{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/style_art_como_pronunciar.css' %}"> 
{% endblock extra_styles %}

{% block content %}

<div class="content" >
    
    <h2>Articulacion como pronunciar</h2>
    
    {% for instruccion in instrucciones %}        

        <h3>{{ instruccion.nombre }}</h3>

        <p>{{ instruccion.instruciones }}</p>

        <video controls>
            <source src="{{ instruccion.video.url }}" type="video/mp4">
        </video>

        <div class="content_image items" >
            <img src="{{ instruccion.foto_mayuscula.url }}" alt="foto_mayuscula">
            <img src="{{ instruccion.foto_minuscula.url }}" alt="foto_minuscula">
        </div>
        
    {%endfor%}

    <a href="{% url 'menu_articulacion_pronunciar' %}">Volver al Menú</a>
</div>
{% endblock content %}