{% extends "base.html" %}
{% load static %}


{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/style_menu_art_seleccion.css' %}">  
{% endblock extra_styles %}

{% block content %}
<div class="content" >
    <h2>Menú de Letras</h2>
    <div class="grid-container">
    {% comment %} <ul> {% endcomment %}
        {% for instruccion in instrucciones %}
        <div class="grid-item">
        {% comment %} <li> {% endcomment %}<a href="{% url "articulacion_seleccion" instruccion.letra_categoria  %}"><p>{{ instruccion.letra_categoria }}</p></a>{% comment %} </li> {% endcomment %}
        </div>
        {% endfor %}    
    {% comment %} </ul> {% endcomment %}
    </div>
</div>
{% endblock content %}

