{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/style_menu_articulacion_completar.css' %}">  
{% endblock extra_styles %}

{% block content %}
<div class="content" >
    <h2>Menú de Letras</h2>
    <ul>
    {% for instruccion in instrucciones %}
    
        <li><a href="{% url "articulacion_completar" instruccion.letra_categoria  %}">{{ instruccion.letra_categoria }}</a></li>
    
    {% endfor %}    
    </ul>
</div>
{% endblock content %}