.content {
    height: 80vh;
}

/* Título principal */
h2 {
    color: var(--color-titulo);
    font-size: var(--font-size-titulo);
    text-align: center;
}

/* Subtítulos de las instrucciones */
h3 {
    color: var(--color-subtitulo);
    font-size: var(--font-size-subtitulo);
    text-align: center;
}

/* Párrafo de las instrucciones */
p {
    color: var(--color-parrafo);
    font-size: var(--font-size-parrafo);
    text-align: justify;
}

/* Video */
video {
    width: 80vw;
    border-radius: 10px; /* Bordes redondeados para el video */
    display: block; /* Hace que el video se centre horizontalmente */
}

p.destacado {
    color: var(--color-destacado);
    font-size: var(--font-size-destacado);
    text-align: center;
}

