{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/styles_perfil_inicial.css' %}">  
{% endblock extra_styles %}

{% block content %}
<div class="content">
    <h2>Perfil</h2>
    {% for user in  users %}
        <div>
            <h3>numero de idetificacion:</h3>
            <p>{{user.username}}</p>
        </div>
        <div>
            <h3>nombre:</h3>
            <p>{{user.first_name}}</p>
        </div>
        <div>
            <h3>apellido: </h3>
            <p>{{user.last_name}}</p>
        </div>
        <div>
            <h3>email:</h3>
            <p>{{user.email}}</p>
        </div>
        <div>
            <h3>fecha de nacimiento:</h3>
            <p>{{user.date_of_birth}}</p>
        </div>
        <div>
            <h3>genero:</h3>
            <p>{{user.gender}}</p>
        </div>
        <div>
            <h3>escolaridad:</h3>
            <p>{{user.escolaridad}}</p>
        </div>
    {% endfor %}
    
    <h3>Selecciona una opcion</h3>

    <ul>

        <li><a href="{% url "respiracion_instrucciones" %}">Respiracion</a></li>

        {% comment %} <a href="{% url "fonacion" %}">fonacion</a> {% endcomment %}
        {% comment %}  <a href="{% url "resonancia" %}">resonancia</a> {% endcomment %}

        <li><a href="{% url "menu_articulacion_pronunciar" %}">Articulacion como pronunciar</a></li>
        <li><a href="{% url "menu_articulacion_seleccion" %}">Articulacion seleccionar</a></li>
        <li><a href="{% url "menu_articulacion_completar"  %}">Articulacion completar</a></li>

        <li><a href="{% url "prosodia_cancion" %}">Prosodia cancion</a></li>
        <li><a href="{% url "prosodia_trabalenguas" %}">Prosodia trabalenguas</a></li>

        <li><a href="{% url "discriminacion_auditiva_escoger" %}">Discriminacion auditiva escoger</a></li>
        <li><a href="{% url "discriminacion_auditiva_seleccionar" %}">Discriminacion auditiva seleccionar</a></li>
    </ul>
</div>
{% endblock content %}