{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/style_resonancia.css' %}">  
    
{% endblock extra_styles %}

{% block content %}
<div class="content">
    <h2>Resonancia</h2>
    <div class="rendija">
        {% for nota in notas %}
            {% for i in range %}
                {% if i == nota.0 %}
                    <div class="nota_{{ nota.1 }} nota">
                        <p>{{ nota.1 }}</p>
                    </div>
                {% else %}
                    <div class="casilla_vacia">
                        <p>no</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class='piano'>

    </div>
    <div class='controles'>

    </div>
</div>
{% endblock content %}