<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
</head>
<body>
    <h2>Registro</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
            <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
            {{ form.username }}
        </p>
        <p>
            <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
            {{ form.email }}
        </p>
        <p>
            <label for="{{ form.first_name.id_for_label }}">Nombre:</label>
            {{ form.first_name }}
        </p>
            
        <p>
            <label for="{{ form.last_name.id_for_label }}">Apellido:</label>
            {{ form.last_name }}
        </p>
        <p>
            <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
            {{ form.password1 }}
        </p>
        <p>
            <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
            {{ form.password2 }}
        </p>
        <button type="submit">Registro</button>
    </form>
</body>
</html>