h2 {
    color: var(--color-titulo);
    font-size: var(--font-size-titulo);
    text-align: center;
    margin-bottom: 2vh;
}

p {
    color: var(--color-parrafo);
    font-size: var(--font-size-parrafo);
    text-align: justify;
    margin: 1vh 2vw;
}

ul {
    width: 80%;
}

li {
    display: flex;
    justify-content: space-between;
}

.audio_container {
    display: flex; 
    align-items: left; 
    justify-content: center; 
    margin-top: 20px; 
}

audio {
    display: none; 
}

.audio-button {
    margin-right: 6vw; 
    background-color: var(--color-subtitulo); 
    color: white; 
    border: none; 
    border-radius: 50%; 
    width: 8vh; 
    height: 8vh; 
    cursor: pointer; 
    font-size: 3rem; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease; 
}

.audio-button:hover {
    background-color: var(--color-subtitulo); 
}

#button_sender {
    margin-top: 2vh;
    width: 80vw;
    height: 5vh;
    padding: 10px;
    background-color: #fecb49;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-parrafo);
    cursor: pointer;
}

.radio-label {
    display: flex; 
    align-items: center; 
    cursor: pointer; 
}

.radio-label input[type="radio"] {
    display: none; 
}

.custom-radio {
    width: 4vw; 
    height: 4vw; 
    background-color: white; 
    border: 5px solid black; 
    border-radius: 5px; 
    margin-right: 10px; 
    display: inline-block; 
    position: relative; 
}

.radio-label input[type="radio"]:checked + .custom-radio {
    background-color: var(--color-subtitulo); 
}

.radio-label input[type="radio"]:checked + .custom-radio::after {
    content: ''; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 10px; 
    height: 10px; 
    background-color: white; 
    border-radius: 2px; 
    transform: translate(-50%, -50%); 
}

.radio-label span {
    font-size: var(--font-size-parrafo); 
}