<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>fono_app</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
    {% block extra_styles %}{% endblock extra_styles %}
</head>
<body>
    <nav>
        <div class="nav_logo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <div class="nav_buttons">
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="nav_button" type="submit">Cerrar sesion</button>
                </form>
                <a class="nav_button" href="{% url "perfil" %}">Inicio</a>
            {% else %}
                <a class="nav_button" href="{% url 'login' %}">Login</a>
                <a class="nav_  button" href="{% url "perfil" %}">Inicio</a>
            {% endif %}
        </div>
    </nav>
    
    <content>
        {% block content %}{% endblock %}
    </content>
</body>
</html>