<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>fono_app</title>
    {% block extra_styles %}{% endblock extra_styles %}
</head>
<body>
    <h1>fono_app</h1> {% comment %} lo que va aparecer en todsa las aplicacion {% endcomment %}
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <a href="{% url "perfil" %}">perfil</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    
    {% block content %}{% endblock %}   {% comment %}el  bloque de modulo de cada app html{% endcomment %}
</body>
</html>