{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/style_dis_auditiva_seleccionar.css' %}">  
{% endblock extra_styles %}

{% block content %}
<div class="content">
    <h2>Descriminacion auditiva seleccionar</h2>
    <p>Une la imagen al sonido que corresponde </p>
    <form method="post" action="{% url 'discriminacion_auditiva_seleccionar' %}">
        {% csrf_token %}
        <ul>
        {% for instruccion in instrucciones.informacion %}
            <li class='opciones'>
                <audio controls>
                    <source src="{{instruccion.audio.url}}" type="audio/mp3">
                </audio>
                <div>
                    {% for opcion in instrucciones.imagenes %}
                        <label class="label-container">
                            <input type="radio" name="respuesta_{{ forloop.parentloop.counter }}" value="{{opcion.url}},{{instruccion.imagen.url}}">
                            <img src="{{opcion.url}}" alt="imagen">
                            <div class="rectangle"></div>
                        </label>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
        </ul>
        <button type="submit">Enviar respuestas</button>
    </form>
</div>
{% endblock content %} 