{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/style_dis_auditiva_escoger.css' %}">  
{% endblock extra_styles %}

{% block content %}
<div class="content">
    <h2>Descriminacion auditiva escoger</h2>
    <p>Escucha atentamente y elige la imagen correcta</p>
    <form method="post" action="{% url 'discriminacion_auditiva_escoger' %}">
        <ul>
            {% for instruccion in instrucciones %}
            <li>
                {% csrf_token %}
                <label class="label-container">
                    <input type="radio" name="respuesta_{{ forloop.counter }}" value="{{ instruccion.imagen_correcta.url }}">
                    <img src="{{ instruccion.imagen_correcta.url }}" alt="imagen correcta">
                    <div class="rectangle"></div>
                </label>
            
                <audio controls class="audio-control">
                    <source src="{{ instruccion.audio.url }}" type="audio/mp3">
                </audio>
            
                <label class="label-container">
                    <input type="radio" name="respuesta_{{ forloop.counter }}" value="{{ instruccion.imagen_incorrecta.url }}">
                    <img src="{{ instruccion.imagen_incorrecta.url }}" alt="imagen incorrecta">
                    <div class="rectangle"></div>
                </label>
            </li>
            {% endfor %}
        </ul>
        <button type="submit" id="button_sender">Enviar respuestas</button>
    </form>
</div>

{% endblock content %}

{% block extra_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var audios = document.querySelectorAll('.audio-control');
        
        audios.forEach(function(audio) {
            audio.addEventListener('play', function() {
                // Solo pausa otros audios cuando se inicia la reproducción manualmente
                audios.forEach(function(otherAudio) {
                    if (otherAudio !== audio && !otherAudio.paused) {
                        otherAudio.pause();
                    }
                });
            });
        });
    });
</script>
{% endblock extra_scripts %}
