{% extends "base.html" %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'prosodia/css/style_prosodia_trabalenguas.css' %}"> 
    <script src="{% static 'prosodia/js/trabalenguas.js' %}" defer></script>
{% endblock extra_styles %}

{% block content %}

<div class="content">

<h2>Prosodia trabalenguas</h2>
<p>Ahora activa tu microfono y lee el trabalenguas no te equivoques</p>
{% for instruccion in instrucciones %}
    <p>Nombre del trabalenguas</p>
    <h3>{{instruccion.nombre}}</h3>
    <img src="{{instruccion.imagen.url}}" alt="imagen trabalenguas">
    <button id="recordButton_1" class="mic-button">Start Recording</button>
    <p id="status_1"></p>
    <p id="resultado_1"></p>
{% endfor %}

</div>
{% endblock content %} 