{% extends "base.html" %}

{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'prosodia/css/style_prosodia_trabalenguas.css' %}"> 
{% endblock extra_styles %}

{% block content %}

<div class="content">

<h2>Prosodia trabalenguas</h2>
<p>Ahora activa tu microfono y lee el trabalenguas no te equivoques</p>
{% for instruccion in instrucciones %}
    <p>Nombre del trabalenguas</p>
    <h3>{{instruccion.nombre}}</h3>
    <img src="{{instruccion.imagen.url}}" alt="imagen trabalenguas">
    <button class="mic-button">
        <img src="{% static 'images/mic_abierto.png' %}" alt="Micrófono">
    </button>
{% endfor %}
</div>
{% endblock content %} 