{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'prosodia/css/style_prosodia_trabalenguas.css' %}">  
    <script src="{% static 'prosodia/js/cancion.js' %}" defer></script>
{% endblock extra_styles %}

{% block content %}
<div class="content" >  
    <h2>Prosodia cancion</h2>
    <p>Complete la cancion con tu voz</p>

    {% for instruccion in instrucciones %}
    <li>
        <p>Nombre de la canción : </p>
        <h3>{{instruccion.nombre}}</h3>
        <p>{{instruccion.parrafo_1}}</p>

        <button id="recordButton_1" class="mic-button">Start Recording</button>
        <p id="status_1"></p>
        <p id="resultado_1"></p>

        {% if instruccion.parrafo_2 != "0" %}
            <p>{{instruccion.parrafo_2}}</p>
            <button id="recordButton_2" class="mic-button">Start Recording</button>
            <p id="status_2"></p>
            <p id="resultado_2"></p>       
        {% endif %}

        {% if instruccion.parrafo_3 != "0" %}
            <p>{{instruccion.parrafo_3}}</p>
            <button id="recordButton_3" class="mic-button">Start Recording</button>
            <p id="status_3"></p>
            <p id="resultado_3"></p>
        {% endif %}

        {% if instruccion.parrafo_4 != "0" %}
            <p>{{instruccion.parrafo_4}}</p>
            <button id="recordButton_4" class="mic-button">Start Recording</button>
            <p id="status_4"></p>
            <p id="resultado_4"></p>
        {% endif %}
        
        {% if instruccion.parrafo_5 != "0" %}
            <p>{{instruccion.parrafo_5}}</p>
            <button id="recordButton_5" class="mic-button">Start Recording</button>
            <p id="status_5"></p>
            <p id="resultado_5"></p>
        {% endif %}

    </li>
    {%endfor%}
</div>
{% endblock content %}




